.how-it-works {
    padding: 30px;
    text-align: center;
    width: 80%; 
    margin: auto; 
}
.how-it-works h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #1391cd;
    border: #31ade7 solid 1px;
}

.step-number {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.step-description {
    font-size: 16px;
    text-align: left;
}

.step:hover{
    
    background-color: #008fdc3e;
    border-radius: .7rem;
    color: white;
    transition: background-color .4s;
    border: #32beff solid 1px;
}

